.songComponent{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songComponent:hover{
    cursor: pointer;
    opacity: 0.8;
    background-color: black;
}

.songComponent__info{
    margin-left: 20px;
}

.songComponent__info>h1{
    font-size: 16px;
}

.songComponent__info>p{
    font-size: 14px;
    color: gray;
    margin-top: 3px;
}

.songComponent__album{
    height: 40px;
    width: 40px;
}